DB_NAME=farmledger
DB_USER=farmledger
DB_PASS=farmledger
DB_ROOT_PASS=root

API_PORT=8080

HARDHAT_PORT=8545
BRIDGE_PORT=5055
RPC_URL=http://hardhat:8545
PRIVATE_KEY=0xYOUR_PRIVATE_KEY
CHAIN_BRIDGE_URL=http://bridge:5055

JWT_SECRET=please_change_me
